<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Escaneo de QR de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">escaneo-usuario</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
